$color-letra1:whitesmoke;
$border-1: black;
$letra-titulos: 750;
$letra-subtgrandes:450;
$letra-subtitulos: 400;
$letra-subt2:300;
$letra-parrafos:250;
$letra-pie:200;
$front-titulos:50;
$font-subtgrandes:75;
$font-subtitulos:25;
$font-subt2:21;
$font-parrafos:19;
$font-pie:16;
$lheight-1:27;
$alineacion-1: center;
$alineacion-2:left;
$paddin-1:auto;
$margin-1:auto;
$borstyle-2:double;
$bordradius-1:6;
$overflow-1:hidden;
$backgroundcolor-parrafos: rgba(210, 203, 203, 0.271);
$display-1: flex;
$justify-1:center;
$boxshad-1:0px 1px 5px;
$boxshad-2: 5px 5px 20px;



